html,
body {
    padding: 0;
    margin: 0;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;

    font-size: 20px;
}

nav {
    display: flex;

    gap: 10px;
}

.btn {
    padding: 10px 15px;

    background-color: aquamarine;
    border: none;
    border-radius: 5px;

    box-shadow: 2px 2px black;
}

.btn:hover {
    background-color: blueviolet;
}



/* Main Content */
#content {
    display: flex;
    justify-content: center;
}
